<section class="section_header">

    <div class="container">
        <menu class="section_header_menu  align-items-center row justify-content-center ">
            <a href="#inform" class="section_header__menu__link col-4   col-sm-4 col-md-3 col-lg-2">
                Личная&#160;информация
            </a>
            <a href="#experians" class="section_header__menu__link col-auto">
                Опыт
            </a>
            <a href="#about" class="section_header__menu__link  col-2 col-lg-1  col-md-2">
                О себе
            </a>
        </menu>
    </div>
</section>
